*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
:root{
    --font1:"Montserrat", sans-serif;
}
.cart-subtotal h6{
    font-weight: bolder;
    font-size: 22px;
}
.cart-subtotal span{
    font-size: 25px;
    color: #000;
    font-weight: 400;
}
.cart-btn{
    background-color: #000;
    border: none;
    border-radius: 5px 5px;
    padding: 5px 10px;
}
.cart-btn a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.paytm-btn{
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 5px 5px;
    font-weight: bold;
}
.login_form{
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 35px 70px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    box-shadow: 6px 6px 20px #684083;
}
.login_input{
    background: transparent;
}
.btn-login{
    border-radius: 25px;
    background-color: #fff;
    font-size: 15px;
    color: #555;
    border: none;
    margin: auto;
    display: block;
}
.btn-login:hover{
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    color: #fff;
}
.form-floating .form-control {
    transition: background-color 0.3s ease;
}
.login_text{
    color: #fff !important;
}
.login_text:hover{
    background: -webkit-linear-gradient(bottom, #7318bd, #121113);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-floating .form-control:focus {
    background-color: transparent;
    box-shadow: none;
}
.miraggion_login_logo{
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
}
@media(max-width:992px){
    .login_form{
        width: 50% !important;
    }
}
@media(max-width:426px){
    .login_form{
        width: 75% !important;
    }
}